@use '../../../../styles/variables.scss' as *;

.section {
    @include centerContent;

    flex-direction: row;
    gap: 3rem;
    font-family: $font-family-body;

    .media {
        height: 580px;
    }
}

.quote {
    font-size: 1.5rem;
    font-weight: 800;
    display: block;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.signature {
    @include pixelText;

    span {
        font-weight: bold;
        display: block;
    }
}

.description {
    width: min(40vw, 400px);
    font-weight: 300;
    line-height: 1.4rem;

    h2 {
        font-size: 50px;
        min-width: 341px;
    }

    span {
        display: block;
    }
}

@media only screen and (max-width: 1200px) {
    .section {
        flex-direction: column;
        justify-content: flex-start;
        height: 820vh;
        align-items: flex-start;
        overflow: visible;
        width: 100%;
        position: relative;

        .description {
            width: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;

            .intro {
                margin-top: 5rem;
                height: 30rem;
            }

            .stickyDiv {
                position: sticky;
                top: 40%;
            }
        }

        .media {
            position: sticky;
            top: 0;
            margin-top: 40rem;
            background-image: url(/assets/herman_seip.jpg);
            @include darkenBackground;
            background-size: cover;
            background-position: center;
            height: 110vh;
            width: 100vw;
            * {
                display: none;
            }
        }
    }
}
