.text {
    color: #fff;
    padding-inline: 1rem;
}

@media (max-width: 1200px) {
    .container {
        background: rgba(6, 2, 44, 0.8);
        padding: 3rem 1rem;
        width: 100vw;
    }

    .overlay {
        width: min(100%, 800px);
        z-index: 999;
        margin-inline: auto;
    }
}
