@use 'styles/variables.scss' as *;

.section {
    @include centerContent;
    flex-direction: column;
    gap: 2.5rem;
}

.container {
    // width: ;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 4rem;
}

.images {
    &::after {
        align-self: center;
        justify-self: center;
        width: 305px;
        height: 305px;
        border-radius: 100px;
        background-color: black;
        transform: translateZ(10px);
        content: '';
    }
}

.h1 {
    font-family: $font-family-heading;
    // font-weight: $font-weight-heading;
    font-weight: 900;
    // font-size: $font-size-heading-large;
    font-size: 3rem;
    // margin: 1rem;
    // margin-bottom: 4rem;
    // top: 4rem;
}

// .content {
//     display: flex;
//     width: 60rem;
//     justify-content: center;
//     gap: 2rem;
// }

.textSection {
    // display: flex;
    // flex-direction: column;
    max-width: 250px;
    text-align: left;
}

.quote {
    font-family: $font-family-quote;
    font-weight: $font-weight-quote-xsmall;
    font-size: $font-size-quote-xsmall;
}

.name {
    font-family: $font-family-pixel;
    font-weight: $font-weight-pixel-name;
    font-size: $font-size-pixel;
}

.title {
    font-family: $font-family-pixel;
    font-weight: $font-weight-pixel;
    font-size: $font-size-pixel;
    margin-top: -0.8vw;

    // div {
    //     display: inline;
    // }
    display: flex;
    flex-direction: row;
}

// .moreInfo {
//     font-family: $font-family-pixel;
//     font-weight: $font-weight-pixel-name;
//     font-size: $font-size-pixel;
//     padding-top: 0.5rem;
//     padding-inline: 2vw;
//     a:link,
//     a:visited,
//     a:active {
//         padding: 0 0.3125rem;
//         text-decoration: none;
//         font-weight: bold;
//         color: $font-color;
//     }
//     a:hover {
//         text-decoration: underline;
//     }
// }
