@use 'styles/variables.scss' as *;
$background: linear-gradient(180deg, #4b87ff 0%, #2257c0 100%);

.section {
    display: flex;
    gap: 50px;
    background: $background;

    .media {
        video {
            height: 100vh;
            width: auto;
            transform: scaleX(-1);
        }
    }

    .textSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    .section {
        flex-direction: column;
        gap: 0;
        position: relative;
        background: none;
        overflow: hidden;

        .media {
            position: relative;
            z-index: 1;
        }

        .textSection {
            position: absolute;
            z-index: 2;
            width: 100vw;
            height: 100vh;

            blockquote {
                q {
                    font-size: 1.5rem;
                    font-weight: 800;
                }
            }
        }
    }
}
