@use 'styles/variables.scss' as *;
$background: #1a66ff;

.section {
    display: flex;
    gap: 50px;
    background: $background;

    .media {
        video {
            height: 100vh;
            width: auto;
            transform: scaleX(-1);
        }
    }

    .textSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@include mobile {
    .section {
        flex-direction: column;
        gap: 0;
        position: relative;
        background: none;
        overflow: hidden;

        .media {
            position: relative;
            z-index: 1;
        }

        .textSection {
            position: absolute;
            z-index: 2;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0);
            animation: change-color 5s forwards;

            blockquote {
                q {
                    font-size: 1.5rem;
                    font-weight: $font-weight-extra-bold;
                }
            }
        }
    }
}

@keyframes change-color {
    0% {
        background: rgba(0, 0, 0, 0);
    }
    100% {
        background: rgba(0, 0, 0, 0.5);
    }
}
