@use 'styles/variables' as *;

.section {
    @include centerContent;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-top: 12vh;

    img {
        justify-self: center;
    }
}

.textSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min(26.25rem, 100%);

    h2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.875rem;
        margin-bottom: 0;

        span:nth-child(1) {
            font-size: 7.5rem;
            letter-spacing: 0.07em;
            margin-right: 0.5rem;
        }
    }
    p {
        font-size: 1rem;
        margin-top: 0;
    }
}

.pixelMan {
    width: 100%;
    max-width: 70px;
    margin: 0px auto;
}

@media only screen and (max-width: 1200px) {
    .section {
        height: 350vh;
        position: relative;
        overflow: visible;
        justify-content: flex-start;
        padding-top: 50vh;

        h2 {
            margin-top: 100vh;
            z-index: 10;
            text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
        }
    }

    .container {
        gap: 1rem;
        position: sticky;
        top: 40%;
        padding-top: 0;
    }
}
