@use 'styles/variables.scss' as *;

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    margin: 0.5rem;
    padding: 0.5rem;

    transition: opacity 0.2s linear;
    opacity: 0.4;

    &:hover {
        cursor: pointer;
        opacity: 1;
    }

    &[data-highlight='true'] {
        opacity: 1;
    }
}

.label {
    color: white;
}

.rectangle {
    height: 10px;
    width: 10px;
    background-color: white;
}
