@use 'styles/variables.scss' as *;

.horizontal,
.vertical {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
    padding: 1rem;
    width: 26px;
    overflow: hidden;
    align-items: flex-end;

    .title {
        transition: opacity 0.3s ease-out;
        opacity: 0;
    }

    &:hover {
        width: auto;
        .title {
            opacity: 1;
        }
    }
}

.button {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    transition: opacity 0.15s ease-out;
    opacity: 0.4;

    &:hover {
        cursor: pointer;
        opacity: 1;
    }

    &[data-highlight='true'] {
        opacity: 1;
    }
}

.title {
    color: white;
    font-size: 1rem;
    margin-bottom: 0.125rem;
    transition: opacity 0.15s ease-out;
    white-space: nowrap;
    height: 100%;
    padding-left: 0.5rem;
}

.rectangle {
    padding: 0.5rem;
    height: 10px;
    width: 10px;
    background-color: white;
    background-clip: content-box;
}
