@use 'styles/variables.scss' as *;
$background: #1a66ff;
$background-mobile: inear-gradient(180deg, #80aaff 0%, #093ea8 132.12%);

.section {
    @include centerContent;
    background: $background;

    .container {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 2fr 1fr;
        grid-column-gap: 2rem;

        .mediaLeft {
            grid-column: 2;
            grid-row: 2 / 4;
            margin-top: 10px;
        }

        .mediaRight {
            grid-column: 3;
            grid-row: 3;
            // margin-top: 20px;
        }

        .textSection {
            grid-column: 3;
            grid-row: 2;

            .heading {
                margin-bottom: 0;
                margin-top: 10px;
            }

            .description {
                display: flex;
                flex-direction: column;
                font-weight: $font-weight-normal;
                font-size: $font-size-small;
                margin-top: 10%;

                blockquote {
                    q {
                        font-size: 1rem;
                        font-weight: $font-weight-extra-bold;
                    }
                }
            }
        }
    }
}

@include mobile {
    .section {
        height: 100vh;
        display: block;
        background: $background-mobile;
        overflow-x: hidden;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .mediaRight {
                display: none;
            }

            .textSection {
                margin-top: 30vh;
                overflow-x: hidden;

                .heading {
                    font-size: min(3rem, 8.5vw);
                }

                .description {
                    text-align: left;
                }

                blockquote {
                    display: none;
                }
            }
        }
    }
}
