@use 'styles/variables.scss'as *;

.container {
    height: 100%;
    width:100vw;
    display: flex;
    font-family: $font-family-body;
    font-weight: $font-weight-heading;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

    
}

.textContainer{
    //margin-bottom: 45px;
    margin-left: 2vw;
}

.number{
    margin-left: 4vw;
    margin-bottom: 4vh;
}

.text {
    width: 20.625rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-items: flex-start;
    align-items: flex-start;
}