@use '../../styles/variables.scss' as *;

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 90vw;
    padding: 0 5vw;
    padding-top: 5vh;
    text-align: center;
    font-family: $font-family-pixel;
    font-weight: $font-weight-pixel-title;
    font-size: $font-size-pixel;
}

.middleSection {
    width: 416px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a:link,
    a:visited,
    a:active {
        text-decoration: none;
        color: $font-color;
    }
    a:hover {
        text-decoration: underline;
    }
}

.rectangle {
    width: 0;
    height: 32px;
    border: 2.5px solid white;
}
