@use '../../styles/variables.scss' as *;

.navbar {
    position: fixed;
    z-index: 100;

    width: 90vw;
    height: 2.1875rem;
    padding: 40px 5vw;
    padding-bottom: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    text-align: center;
    font-family: $font-family-pixel;
    font-weight: $font-weight-pixel;
    font-size: $font-size-pixel;
}

.middleSection {
    width: 26rem;
    height: 2.1875rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a:link,
    a:visited,
    a:active {
        text-decoration: none;
        color: $font-color;
    }

    a:hover {
        text-decoration: underline;
    }
}

.rectangle {
    width: 0;
    height: 2rem;
    border: 0.16rem solid white;
}

@media only screen and (max-width: 1200px) {
    .navbar {
        background: linear-gradient(
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.7) 30%,
            rgba(0, 0, 0, 0)
        );
    }
}
