@use 'styles/variables.scss' as *;

.section {
    @include centerContent;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;

    .image {
        grid-column: 2;
        right: 0;
        display: flex;
        justify-self: flex-end;
        align-self: center;
        margin-right: 5vw;
        margin-top: 10px;
    }

    .text {
        grid-column: 3;
        font-family: $font-family-body;

        .heading {
            font-weight: $font-weight-body-heading;
            font-size: $font-size-heading-small;
            margin-bottom: 0;
            margin-top: 10px;
        }

        .description {
            display: flex;
            font-weight: $font-weight-body-article;
            font-size: $font-size-body;
            p {
                margin-right: 3vw;
                width: 20vw;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .section {
        flex-direction: column;
        justify-content: flex-start;
        height: 800vh;
        align-items: flex-start;
        overflow: visible;

        .container {
            display: flex !important;
            grid-template-columns: none;
            flex-direction: column;
            height: 800vh;
        }

        .textSection {
            width: 100%;
            position: absolute;
            flex-direction: column;
        }
        .heading {
            margin-left: 2rem;
            margin-top: 110vh;
            height: 40rem;
            text-shadow: black;
            font-size: xx-large;
        }
        .stickyDiv {
            position: sticky;
            top: 40%;
        }

        .description {
            display: flex;
            flex-direction: column;

            div:nth-child(1) {
                margin-top: 0;
            }
        }

        .media {
            position: sticky;
            top: 0;
            background-image: url(/assets/important-competency.jpg);
            @include darkenBackground;
            background-size: cover;
            background-position-x: -7rem;
            height: 110vh;
            width: 100vw;
            * {
                display: none !important;
            }
        }
    }
}
