@use 'styles/variables.scss' as *;

.section {
    @include centerContent;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;

    .image {
        grid-column: 2;
        right: 0;
        display: flex;
        justify-self: flex-end;
        align-self: center;
        margin-right: 5vw;
        margin-top: 10px;
    }

    .text {
        grid-column: 3;
        font-family: $font-family-body;

        .heading {
            font-weight: $font-weight-body-heading;
            font-size: $font-size-heading-small;
            margin-bottom: 0;
            margin-top: 10px;
        }

        .description {
            display: flex;
            font-weight: $font-weight-body-article;
            font-size: $font-size-body;
            p {
                margin-right: 3vw;
                width: 20vw;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .section {
        flex-direction: column;
        justify-content: flex-start;
        height: 900vh;
        align-items: flex-start;
        overflow: visible;
        //margin-top: 100vh;

        .container {
            display: flex !important;
            grid-template-columns: none;
            flex-direction: column;
            height: 800vh;
        }

        .textSection {
            //display: flex !important;
            width: 90vw;
            position: absolute;
            flex-direction: column;
            // margin-top: -150vh;
            // position: sticky;
        }
        .heading {
            margin-left: 2rem;
            margin-top: 110vh;
            height: 40rem;
            text-shadow: black;
            font-size: xx-large;
        }
        .stickyDiv {
            position: sticky;
            top: 20%;
        }

        blockquote {
            width: 100%;
            box-sizing: border-box;
            padding-top: 40vh;
            background: linear-gradient(
                rgba(255, 0, 0, 0),
                rgba(0, 0, 0, 0.7) 45%
            );
        }

        .description {
            display: flex;
            flex-direction: column;

            div:nth-child(1) {
                margin-top: 0;
            }
        }

        /*
            .quoteSignature {
                margin-left: 3rem;
                margin-bottom: 0rem;
                margin-top: 140vh;
            }
        }*/

        .media {
            //margin-top: 60rem;
            position: sticky;
            top: 0;
            background-image: url(/assets/important-competency.jpg);
            background-size: cover;
            //background-position: center;
            background-position-x: -7rem;
            height: 110vh;
            width: 100vw;
            * {
                display: none !important;
            }
        }
    }
}
