@use 'styles/variables.scss' as *;

.section {
    @include centerContent;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;

    .media {
        grid-column: 2;
        right: 0;
        display: flex;
        justify-self: flex-end;
        align-self: center;
        margin-right: 5vw;
        margin-top: 10px;
    }

    .textSection {
        grid-column: 3;

        .heading {
            margin-bottom: 0;
            margin-top: 10px;
        }

        .description {
            display: flex;
            font-weight: $font-weight-normal;
            font-size: $font-size-small;
            p,
            blockquote {
                margin-right: 3vw;
                width: min(20vw, 287px);
            }
        }
    }
}

@include mobile {
    .section {
        flex-direction: column;
        justify-content: flex-start;
        height: 800vh;
        align-items: flex-start;
        overflow: visible;

        .container {
            display: flex !important;
            flex-direction: column;
            height: 800vh;
        }

        .textSection {
            width: 100%;
            position: absolute;
            flex-direction: column;
        }
        .heading {
            margin-top: 110vh;
            height: 40rem;
            text-shadow: black;
            // font-size: xx-large;
        }

        .stickyDiv {
            position: sticky;
            top: 40%;
        }

        .description {
            display: flex;
            flex-direction: column;
            p,
            blockquote {
                width: 100% !important;
            }
        }

        .media {
            position: sticky;
            top: 0;
            background-image: url(/assets/domstol/images/important-competency.jpg);
            @include darkenBackground;
            background-size: cover;
            height: 110vh;
            width: 100vw;
            * {
                display: none !important;
            }
            margin: 0;
        }
    }
}
