@use 'styles/variables' as *;
$background: linear-gradient(180deg, #4b87ff 0%, #2257c0 100%);

.section {
    background: $background;
}

.container {
    @include centerContent;
}

.imageContainer {
    height: 550px;
    width: 650px;
    margin-right: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    div,
    video,
    .ellipse {
        display: block;
        grid-row: 1 / 2;
    }

    .ellipse {
        grid-column: 1 / 5;
        align-self: flex-start;
        justify-self: flex-start;
        margin: 50px 0 0 20px;
    }

    div {
        grid-column: 2 / -1;
        align-self: flex-start;
        width: fit-content;
        justify-self: flex-end;
    }

    video {
        grid-column: 1 / 5;
        align-self: flex-end;
    }
}

.singleImageContainer {
    height: 550px;
    width: 650px;
    margin-right: 3rem;
}

.citation {
    @include centerContent;
    color: black;
    background-image: url(/assets/arealize/images/seniorhjelp-team-pic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;

    .blockquote {
        position: absolute;
        height: 500px;
        width: 425px;
        top: 0;
        left: 0;
        margin-top: 80px;
        margin-left: 80px;

        .qoute {
            font-size: 2.2rem;
            font-weight: bold;
            margin-top: 1rem;
            margin-bottom: 2rem;
            color: black;
        }

        .signature {
            margin-top: 1rem;
            font-size: 1rem;

            .name {
                display: block;
                font-weight: 700;
                text-transform: capitalize;
            }
        }
    }
}

.description {
    width: 400px;

    h2 {
        text-transform: uppercase;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .link {
        color: white;
        text-decoration: underline;
        font-weight: bold;
    }
}

@media only screen and (max-width: 1200px) {
    $background-height: 100vh;

    .container {
        height: fit-content;
        flex-direction: column;
        overflow: visible;
        justify-content: flex-start;
        padding-top: calc($background-height / 2);

        .description {
            display: flex;
            flex-direction: column;
            width: 100%;
            z-index: 5;
            margin-top: calc(-1.5 * $background-height);

            & > div:last-child {
                padding-bottom: 100vh;
            }

            h2 {
                padding-inline: 2rem;
                text-align: center;
                margin-top: 20vh;
                font-size: min(10vw, 3rem);
            }
        }
    }

    .imageContainer {
        position: sticky;
        top: 0px;
        margin: 0;
        height: $background-height;
        width: 100vw;

        @include darkenBackground;
        background-size: cover;
        background-position: center;
        background-image: url(/assets/arealize/images/seniorhelp-mobile-1.png);
        transition: background-image 2s ease-in-out;

        &[data-animate='true'] {
            background-image: url(/assets/arealize/images/seniorhelp-mobile-2.png);
        }

        * {
            display: none !important;
        }
    }

    .citation {
        width: 100vw;
        background-size: cover;
        background-position: center;
        background-image: url(/assets/arealize/images/seniorhjelp-team-pic.png);
        @include darkenBackground;

        .blockquote {
            position: relative;
            width: 80vw;
            height: 50vh;
            margin-top: 70%;
            margin-left: 0;

            .qoute {
                bottom: 0;
                font-size: 2.2rem;
                font-weight: bold;
                margin-top: 2rem;
                margin-bottom: 2rem;
                color: white;
            }

            .signature {
                margin-top: 1rem;
                font-size: 1rem;
                color: white;

                .name {
                    display: block;
                    font-weight: 700;
                    text-transform: capitalize;
                }
            }
        }
    }
}
