@use 'styles/variables' as *;
$background: linear-gradient(180deg, #4b87ff 0%, #2257c0 100%);

.section {
    @include centerContent;
    background: $background;
}

.imageContainer {
    height: 550px;
    width: 650px;
    margin-right: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    div,
    video,
    .ellipse {
        display: block;
        grid-row: 1 / 2;
    }

    .ellipse {
        grid-column: 1 / 5;
        align-self: flex-start;
        justify-self: flex-start;
        margin: 50px 0 0 20px;
    }

    div {
        grid-column: 2 / -1;
        align-self: flex-start;
        width: fit-content;
        justify-self: flex-end;
    }

    video {
        grid-column: 1 / 5;
        align-self: flex-end;
    }
}

.description {
    width: 400px;

    h2 {
        text-transform: uppercase;
        font-size: 3rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 1200px) {
    $background-height: 100vh;

    .section {
        height: fit-content;
        flex-direction: column;
        overflow: visible;
        justify-content: flex-start;
        padding-top: calc($background-height / 2);
    }

    .imageContainer {
        position: sticky;
        top: 0px;
        margin: 0;
        height: $background-height;
        width: 100vw;

        @include darkenBackground;
        background-size: cover;
        background-position: center;
        background-image: url(/assets/arealize/images/seniorhelp-mobile-1.png);
        transition: background-image 2s ease-in-out;

        &[data-animate='true'] {
            background-image: url(/assets/arealize/images/seniorhelp-mobile-2.png);
        }

        * {
            display: none !important;
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 2;
        margin-top: calc(-1.5 * $background-height);

        & > div:last-child {
            padding-bottom: 100vh;
        }

        h2 {
            padding-inline: 2rem;
            text-align: center;
            margin-top: 20vh;
            font-size: min(10vw, 3rem);
        }
    }
}
