@use 'styles/variables' as *;

.section {
    @include centerContent;
}

.imageContainer {
    height: 550px;
    width: 650px;
    margin-right: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    div,
    video {
        display: block;
        grid-row: 1 / 2;
    }

    div {
        grid-column: 2 / -1;
        align-self: flex-start;
        width: fit-content;
        justify-self: flex-end;
    }

    video {
        grid-column: 1 / 5;
        align-self: flex-end;
    }
}

.description {
    width: 400px;

    h2 {
        text-transform: uppercase;
        font-size: 3rem;
    }
}

@media only screen and (max-width: 1200px) {
    .section {
        height: 400vh;
        flex-direction: column;
        overflow: visible;
        justify-content: flex-start;
        padding-top: 50vh;
    }

    .imageContainer {
        height: 100vh;
        width: 100vw;
        background-image: url(/assets/domstol/images/BrigittAndHerman_horizontal.jpg);
        background-size: cover;
        background-position: center;
        @include darkenBackground;
        position: sticky;
        top: 0px;
        margin: 0;

        * {
            display: none !important;
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 2;
        margin-top: -142vh;

        h2 {
            padding-inline: 2rem;
        }
    }
}
