@use 'styles/variables' as *;

.section {
    @include centerContent;
}

.imageContainer {
    height: 550px;
    width: 650px;
    margin-right: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    span,
    video {
        display: block;
        grid-row: 1 / 2;
    }

    span {
        grid-column: 2 / -1;
        align-self: flex-start;
    }

    video {
        grid-column: 1 / 5;
        align-self: flex-end;
    }
}

.description {
    width: 400px;

    h2 {
        text-transform: uppercase;
        font-size: 3rem;
    }

    blockquote {
        margin-inline: 0;

        .signature {
            @include pixelText;
            display: block;
            margin-top: 1rem;
            margin-bottom: 2rem;

            * {
                display: block;
            }

            span {
                font-weight: 700;
            }
        }
    }
}
@media only screen and (max-width: 1200px) {
    .section {
        height: 600vh;
        flex-direction: column;
        overflow: visible;
    }

    .imageContainer {
        height: 100vh;
        width: 100vw;
        background-image: url(/assets/domstol/images/BrigittAndHerman_horizontal.jpg);
        background-size: cover;
        background-position: center;
        position: sticky;
        top: 0px;
        margin: 0;

        * {
            display: none !important;
        }
    }

    .description {
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 2;
        margin-top: -150vh;

        h2 {
            padding-inline: 2rem;
        }

        blockquote {
            font-weight: 600;
            font-size: large;
            font-size: 2rem;
            background: linear-gradient(
                rgba(255, 0, 0, 0),
                rgba(0, 0, 0, 0.7) 45%
            );
            box-sizing: border-box;
            padding-top: 40vh;
            margin-top: 100vh;
            padding-inline: 2rem;
        }
    }
}
