@use 'styles/variables.scss' as *;

.section {
    @include centerContent;
    overflow-x: hidden;
    position: relative;

    .textSection {
        display: flex;
        flex-direction: column;
        max-width: 31.25rem;
        margin-left: 3rem;
    }
    .title {
        font-family: $font-family-heading;
        font-weight: $font-weight-heading;
        font-size: $font-size-heading-small;
        margin-bottom: -0.5rem;
        margin-top: -100px;
    }

    .description {
        font-family: $font-family-body;
        font-weight: $font-weight-body-article;
        font-size: $font-size-body;
        width: 17.5rem;
    }

    .media {
        display: grid;
        grid-template-rows: 6.25rem 1fr 6.25rem;
        grid-template-columns: 8.375rem 5.5rem 8.375rem;

        .weaponShield {
            grid-row-start: 2;
            grid-column-start: 1;
            grid-row-end: 3;
            grid-column-end: 4;
        }
        .bookStack {
            grid-area: 1 / 3 / 5 /5;
            grid-row-start: 1;
            grid-column-start: 3;
        }
        video {
            height: 75%;
            object-fit: cover;
        }
    }
}

@media (max-width: 1200px) {
    .section {
        height: 420vh;
        overflow: visible;
        display: block;

        .media {
            position: sticky;
            top: 0;
            background-image: url(/assets/weapon-shield.jpg);
            background-position: center;
            background-size: cover;
            height: 110vh;

            * {
                display: none;
            }
        }

        .textSection {
            z-index: 10;
            position: absolute;
            top: 0;
            margin-left: 0 !important;
            max-width: 100%;

            .description {
                width: 100vw;
            }

            .title {
                margin-top: 50vh;
                margin-inline: auto;
                font-size: min(3rem, 8.5vw);
                width: fit-content;
            }
        }
    }
}
