@use 'styles/variables.scss' as *;

.container {
    margin: 0;
    line-height: 1.5;
}

.signature {
    margin-top: 1rem;
    font-size: 1rem;

    .name {
        display: block;
        font-weight: $font-weight-bold;
        text-transform: capitalize;
    }
}

.longQuote {
    display: block;
}

.shortQuote {
    font-size: 1.5rem;
    font-weight: $font-weight-medium;
    display: block;
}

@media screen and (min-width: 1201px) {
    .signature {
        font-size: 1rem;
    }
}

@include mobile {
    .container {
        font-weight: $font-weight-medium;
        font-size: large;
        font-size: 2rem;

        box-sizing: border-box;
        padding: 2rem;
        margin-inline: auto;
        margin-top: 100vh;
    }

    .shortQuote {
        font-size: 2rem;
    }

    .longQuote {
        font-size: 1.5rem;
    }
}
