@use 'styles/variables.scss' as *;

.container {
    margin: 0;
}

.signature {
    @include pixelText;
    margin-top: 1rem;

    .name {
        display: block;
        font-weight: 600;
        text-transform: capitalize;
    }
}

.longQuote {
    // font-style: italic;
    display: block;
}

.shortQuote {
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
}

@media screen and (min-width: 1201px) {
    .signature {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        font-weight: 600;
        font-size: large;
        font-size: 2rem;

        box-sizing: border-box;
        padding: 2rem;
        margin-inline: auto;
        margin-top: 100vh;
    }

    .shortQuote {
        font-size: 2rem;
    }

    .longQuote {
        font-size: 1.5rem;
    }
}
