@use 'styles/variables.scss' as *;
$background: linear-gradient(180deg, #4b87ff 0%, #2257c0 100%);

.section {
    // @include centerContent;
    // flex-direction: column;
    // gap: 2rem;
    background: $background;
    width: 100%;
    height: 100%;
    position: relative;

    .title {
        display: flex;
        justify-content: center;
        padding-top: 15%;
    }

    .container {
        .myswiper {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
