//<link rel="stylesheet" href="https://use.typekit.net/zdg4usz.css">

//Overskrift landingpage og artikkel
$font-family-heading: futura-pt-bold, sans-serif;
$font-weight-heading: 700;
$font-size-heading-large: 4rem;
$font-size-heading-small: 3rem;
//For testing
$font-family-heading-test: Helvetica, sans-serif;

//Sitat stor og liten
$font-family-quote: noto-sans, sans-serif;
$font-weight-quote: 800;
$font-size-quote-large: 2.43rem;
$font-size-quote-small: 1.875rem; 

//Webstepper navn og tittel
$font-family-pixel: lores-12, sans-serif; 
$font-weight-pixel-name: 700;
$font-weight-pixel-title: 500;
$font-size-pixel: 1.125rem;

//Brødtekst landingpage og artikkel
$font-family-body: Avenir, sans-serif;
$font-weight-body-landing: 500;
$font-weight-body-article: 400;
$font-size-body: 1rem;

$font-style: normal;
$font-color: #000000;
$font-color-quote: #ffffff;

$color-background: linear-gradient(180deg, #1C1E4E 0%, #06022D 123.01%);
$color-background-landing: linear-gradient(180deg, #E95050 0%, #C63434 132.12%);
$color-subcolor: #F2B355;



