//<link rel="stylesheet" href="https://use.typekit.net/zdg4usz.css">
@use 'variables.scss' as *;

body {
    margin: 0;
    padding: 0;
    color: $font-color;
    width: 100vw;
    height: 100vh;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'Lo-Res';
    src: url('../public/fonts/LoRes12OT-Regular.woff2') format('woff2'),
        url('../public/fonts/LoRes12OT-Regular.woff') format('woff'),
        url('../public/fonts/LoRes12OT-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }