//<link rel="stylesheet" href="https://use.typekit.net/zdg4usz.css">
@use 'variables.scss' as *;

body {
    margin: 0;
    padding: 0;
    color: $font-color;
    width: 100vw;
    height: 100vh;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
