.navbarbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin: 96px 66px -90px;
  transition: top 0.3s;
  height: 35px;
  text-align: center;
  padding-top: 3.5%;
}

.navbar2 {
  width: 416px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rectangle {
  width: 0;
  height: 32px;
  border: 2.5px solid white;
}
