$font-family-pixel: Lo-Res, sans-serif;
$font-family-body: Roboto, sans-serif;

// @mixin pixelText($font-weight: 400) {
//     font-family: Lo-Res, sans-serif;
//     font-weight: $font-weight;
//     font-size: 1.125rem;
// }

$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$font-size-small: 1rem;
$font-size-medium: 1.25rem;
$font-size-large: 1.5rem;
$font-size-xlarge: 2rem;
$font-size-xxlarge: 3rem;

$font-style: normal;
$font-color: #fff;

$color-background: linear-gradient(180deg, #031e30 0%, #021827 123.01%);
$color-hightlight: #f2b355;
$color-red: #e84f4f;

@mixin centerContent {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@mixin darkenBackground {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

@mixin mobile {
    @media screen and (max-width: 1200px) {
        @content;
    }
}
