//<link rel="stylesheet" href="https://use.typekit.net/zdg4usz.css">

$font-family-heading: futura-pt-bold, sans-serif;
$font-weight-heading: 700;
//For testing
$font-family-heading-test: Helvetica, sans-serif;

$font-family-quote: noto-sans, sans-serif;
$font-weight-quote: 800;

$font-family-pixel: lores-12, sans-serif; 
$font-weight-pixel-name: 700;
$font-weight-pixel-title: 500;

$font-family-body: Avenir, sans-serif;
$font-weight-body-landing: 500;
$font-weight-body-article: 400;

$font-style: normal;
$font-color: #000000;

$color-background: linear-gradient(180deg, #1C1E4E 0%, #06022D 123.01%);
$color-background-landing: linear-gradient(180deg, #E95050 0%, #C63434 132.12%);
$color-subcolor: #F2B355;

:export {
    //Change this when Futura is available
    fontFamilyHeading: $font-family-heading-test;
    fontWeightHeading: $font-weight-heading;

    fontFamilyQuote: $font-family-quote;
    fontFamilyQuote: $font-weight-quote;

    fontFamilyPixel: $font-family-pixel;
    fontWeightPixelName: $font-weight-pixel-name;
    fontWeightPixelTitle: $font-weight-pixel-title;

    fontFamilyBody: $font-family-body;
    fontWeightBodyLanding: $font-weight-body-landing;
    fontWeightBodyArticle: $font-weight-body-article;

    fontStyle: $font-style;
    fontColor: $font-color;

    colorBackground: $color-background;
    colorBackgroundLanding: $color-background-landing;
    colorSubcolor: $color-subcolor;
}



