//Overskrift landingpage og artikkel
$font-family-heading: futura-pt-bold, sans-serif;
$font-weight-heading: 700;
$font-size-heading-large: 4rem;
$font-size-heading-small: 3rem;
//For testing
$font-family-heading-test: Helvetica, sans-serif;

//Sitat stor og liten
$font-family-quote: noto-sans, sans-serif;
$font-weight-quote: 800;
$font-size-quote-short: 3.125rem;
$font-size-quote-long: 2rem;

//Webstepper navn og tittel
$font-family-pixel: Lo-Res, sans-serif;
$font-weight-pixel: 400;
$font-weight-pixel-name: 700;
$font-size-pixel: 1.125rem;

//Brødtekst landingpage og artikkel
$font-family-body: Roboto, sans-serif;
$font-weight-body-landing: 600;
$font-weight-body-article: 300;
$font-weight-body-heading: 900;
$font-size-body: 1rem;

$font-style: normal;
$font-color: #fff;
$font-color-highlight: #f2b355;

$color-background: linear-gradient(180deg, #1c1e4e 0%, #06022d 123.01%);
$color-subcolor: #f2b355;
$color-red: #E84F4F;